<article class="box mt-3 text-center">
    <figure>
        <div class="aside align-self-center">
            <span class="icon-wrap icon-md round bg-primary">
                <i class="fas fa-life-ring white"></i>
            </span>
        </div>
        <figcaption class="text-wrap">
            <h5 class="text-muted mt-4 mb-4">{{ "You did not find an answer to your inquiry? Let us know and we will be glad to give you further help"|trans }}</h5>
            <a href="{{ path('contact') }}" class="btn btn-dark justify-content-center rounded-0">{{ "Contact us"|trans|upper }}</a>
        </figcaption>
    </figure>
</article>