.avatar {
    background-color: $gray !important;
    vertical-align: middle;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}