<div class="sticky-top sticky-sidebar dashboard-sidebar d-none d-lg-block d-xl-block">
    <ul id="dashboard-menu" class="nav nav-pills nav-pills-vertical-styled overflow-auto" style="max-height: 20rem;">
        {% include "Dashboard/sidebar-links.html.twig" %}
    </ul>
</div>